@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Noto+Sans+JP:wght@200&family=Noto+Sans+Thai&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  transition: all 0.4s;
}
body {
  background-image: url(image/min2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
header {
  padding: 20px 30px 20px 30px;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
header a {
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px #43b5eb;
  font-family: "Afacad", sans-serif;
}

header a:hover {
  transform: scale(1.2);
  background-color: #1383ec49;
  border-radius: 12px;
}

.main {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.mainbox {
  border: 1px solid red;
  height: 100%;
  width: 100%;
}

.mainbox h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  margin-left: 100px;
}

.mainbox div:nth-of-type(1) {
  height: 100%;
  width: 45%;
  border: 1px solid red;
}

/* --------------------------------------------- */

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
